*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	width: 80%;
	max-width: 1200px;
	margin:0 auto;
}
.row:before, .row:after{
	content:"";
	display: table;
}
.row:after{
	clear:both;
}
[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}
.col-1{
	width: 8.333333%;
}
.col-2{
	width: 16.666667%;
}
.col-3 {
	width: 25%;
}
.col-4{
	width: 33.333333%;
}
.col-5{
	width: 41.666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.333333%;
}
.col-8{
	width:66.666666%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.333333%;
}
.col-11{
	width: 91.6666666%;
}
.col-12{
	width: 100%;
	
}
header{
	text-align: center;
	margin-bottom: 30px;
}
ul{
	margin:0 auto;
}
li{
	text-align:center;
	list-style: none;
	display:block;
	float: left;
	font-size:30px;
}
.linea{
	border-right: 2px solid #8c8b8b; 
}
a{
	text-decoration: none;
	color:#000;
}
hr{
	border-top: 1px solid #8c8b8b;
}
img{
	text-align: center;
	width: 100%;
}
.parrafo{
	text-align: center;
	padding:30px 100px;
	font-size: 40px;
	
}
.linea-gris{
	width:100px;
	border-top: 3px solid #8c8b8b;
	margin: 0 auto;
}
.linea-negra{
	width:100px;
	border-top: 3px solid #000;
}
.foto{
	position:relative;
}
.nombre{
	color:#fff;
	position: absolute;
	right: 25px;
	bottom: 30px;
}
.grupal{
	margin:20px auto;
}
.box{
	margin:10px auto;
	padding: 10px;
	border:1px solid black;
	text-align: center;
}
.perfil{
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 200px;
}
.descripcion{
	margin:0px;
	font-size: 20px;
}
h2{
	float: left;
}
.html{
	margin:10px 10px 10px 30px;
	background-color: #828282;
	color:#fff;
	text-align: left;
}
.css{
	margin:10px 10px 10px 30px;
	background-color: #828282;
	color:#fff;
	text-align: left;
}
.js{
	margin:10px 10px 10px 30px;
	background-color: #828282;
	color:#fff;
	text-align: left;
}
.portafolio{
	margin:10px 30px;
}